<%- include("../partials/adminheader.ejs") %>



<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% urlData.userdetails.forEach(user => { %>
                <tr>
                    <td><%= user._id %></td>
                    <td><%= user.username %></td>
                    <td><%= user.email %></td>
                    <td><%= user.status ? 'Active' : 'Inactive' %></td>
                    <td>
                        <% if (user.status==true) { %>
                            <!-- If user is active, display block button -->
                            <form action="/admin/blockUser/<%= user._id %>" method="post">
                                <button type="submit">Block User</button>
                            </form>
                        <% } else { %>
                            <!-- If user is inactive, display unblock button -->
                            <form action="/admin/unblockUser/<%= user._id %>" method="post">
                                <button type="submit">Unblock User</button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <script>

        new DataTable('#example');
      </script>


<%- include("../partials/adminfooter.ejs") %>
